html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $dark-grey;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6, p, table {
  margin-top: 0;
}

a {
  color: $brand-primary;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sr-only {
  @include sr-only;
}

.picture-label {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 1em;
}

