<div class="infomedia-stripe" id="banner" role="banner">

    <div class="logo-holder">
        <a href="index.html" title="torna alla home">
            <img src="img/Infomedia_Testata.png" alt="Logo Infomedia" />
        </a>
    </div>

    <div class="introduction">
        <p>
            INFOMEDIA è una <a href="https://upload.wikimedia.org/wikibooks/it/4/44/Impresa_sociale_di_comunita.pdf">Impresa
            Sociale di Comunità</a> no-profit rivolta ai programmatori e sistemisti italiani.
        </p>
        <p>
            Gli obiettivi di INFOMEDIA sono tecnico-scientifici, letterari ed educativi, e sono volti a
            promuovere la condivisione dell&rsquo;informazione, la cooperazione tra i membri e lo scambio di esperienze.
        </p>
    </div>

    <div class="nav-menu" role="navigation">

        <h3>Navigazione locale</h3>

        <ul>
            <li id="lnk-home"><a href="index.html">HOME</a></li>
            <li id="lnk-chi-siamo"><a href="chi-siamo.html">Chi siamo</a></li>
            <li id="lnk-scrivi-per-noi"><a href="scrivi-per-noi.html">Scrivi per noi</a></li>
            <li id="lnk-collabora"><a href="collabora.html">Collabora</a></li>
        </ul>

    </div>

    <div class="donazioni">

        <h3>Donazioni</h3>

        <p>Se vuoi fare una donazione a INFOMEDIA attraverso Paypal o carta
            di credito usa il seguente pulsante</p>

        <div align=center>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="4613468">
                <input type="image" src="https://www.paypal.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - Il sistema di pagamento online più facile e sicuro!">
                <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>

    </div>

</div>


