<div class="infomedia-stripe" id="banner" role="banner">

    <div class="logo-holder">
        <a href="index.html" title="torna alla home">
            <img src="img/Infomedia_Testata.png" alt="Logo Infomedia" />
        </a>
    </div>

    <div class="introduction">
        <p>
            INFOMEDIA EDITORI è
            una <a href="https://upload.wikimedia.org/wikibooks/it/4/44/Impresa_sociale_di_comunita.pdf">Impresa
            Sociale di Comunità</a> no-profit rivolta ai programmatori
            e sistemisti italiani.
        </p>
        <p>
            Gli obiettivi di INFOMEDIA come editore sono
            tecnico-scientifici, letterari ed educativi, e sono volti
            a promuovere la condivisione dell&rsquo;informazione, la
            cooperazione tra i membri e lo scambio di esperienze.
        </p>
        <p>
            Negli ultimi anni INFOMEDIA si è distinta per la
            produzione di contenuti di qualità per altre realtà
            editoriali, come service editoriale e supporto alla
            progettazione e gestione degli eventi.
        </p>
    </div>

    <div class="nav-menu" role="navigation">

        <h3>Navigazione locale</h3>

        <ul>
            <li id="lnk-home"><a href="index.html">HOME</a></li>
            <li id="lnk-chi-siamo"><a href="chi-siamo.html">Chi siamo</a></li>
            <li id="lnk-scrivi-per-noi"><a href="scrivi-per-noi.html">Scrivi per noi</a></li>
            <li id="lnk-collaborazioni"><a href="collaborazioni.html">Collaborazioni</a></li>
        </ul>

    </div>

</div>


