<div class="infomedia-stripe" role="contentinfo">

    <div class="text-container">

        <div class="contatti">

            <h2 class="sr-only">Contatti</h2>

            Infomedia Editori Coop<br/>
            via Iannacchini 28<br/>
            83100 Avellino

        </div>

        <div class="social">

            <h2 class="sr-only">Social</h2>

            <ul>
                <li><a href="http://facebook.com/162380207664" title="seguici su Facebook">
                    <span class="sr-only">Facebook</span> <span class="fa fa-facebook"></span></a>
                </li>
                <li><a href="http://twitter.com/infomedia_it" title="seguici su Twitter">
                    <span class="sr-only">Twitter</span> <span class="fa fa-twitter"></span></a>
                </li>
                <li><a href="https://medium.com/@infomedia_it" title="seguici su Medium">
                    <span class="sr-only">Medium</span> <span class="fa fa-medium"></span></a>
                </li>
            </ul>

        </div>

        <div class="legale">
            Partita IVA 02564790646 - <a href="privacy.html">Privacy</a>
        </div>

        <div class="donazioni">

            <h2 class="sr-only">Donazioni</h2>

            <p>Se vuoi fare una donazione a INFOMEDIA attraverso Paypal o carta
                di credito usa il seguente pulsante</p>

            <div align=center>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="4613468">
                    <input type="image" src="https://www.paypal.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - Il sistema di pagamento online più facile e sicuro!">
                    <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>

        </div>

    </div>

</div>
