<div class="infomedia-stripe" id="banner" role="banner">

    <div class="logo-holder">
        <a href="index.html" title="torna alla home">
            <img src="img/Infomedia_Testata.png" alt="Logo Infomedia" />
        </a>
    </div>

    <div class="nav-menu" role="navigation">

        <h3>Navigazione locale</h3>

        <ul>
            <li id="lnk-chi-siamo"><a href="chi-siamo.html">Chi siamo</a></li>
            <li id="lnk-scrivi-per-noi"><a href="scrivi-per-noi.html">Scrivi per noi</a></li>
        </ul>

    </div>

</div>


