@media (min-width: 930px) {

  [role='main'] {
    float: left;
    width: 66.6666%;
    padding-right: 15px;
    margin-top: 20px;

    border-right: 1px solid $border-color;
    min-height: 840px;
  }

}
