.text-container {

  padding-top: 20px;

  form {
    margin: 30px auto 50px auto;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 8px;

    a {
      display: block;
      color: inherit;
    }
  }

  blockquote {
    @include reset;

    display: block;
    font-family: 'Merriweather sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: -6px 0 15px 0;
    border-top: 1px solid $light-grey;
    color: $black;
    padding: 4px 0;
    text-align: center;
  }

  article:not(:last-child) {
    margin-bottom: 65px;
  }

  .logo-magazine {
    height: auto;
    max-width: 240px;
    width: 100%;
  }

  .btn-leggi {

    margin-top: 1.5em;

    a {
      @include reset;

      color: white;
      background-color: lighten($brand-primary, 10%);
      text-decoration: none;
      display: block;
      padding: 10px;
      width: 120px;
      text-align: center;
      margin: 0 auto;

      -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.4);
      -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.4);
      -ms-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.4);
      box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.4);

      &:hover, &:active, &:focus {
        background-color: lighten($brand-primary, 0%);
      }
    }
  }
}

@media (min-width: 930px) {

  [role='main'] {
    float: left;
    width: 66.6666%;
    padding-right: 15px;
    margin-top: 20px;

    border-right: 1px solid $light-grey;
    min-height: 700px;
  }

}
