.infomedia-container {
  @include reset;
  @include clearfix;
}

.infomedia-stripe {
  @extend .infomedia-container;
  width: 100%;
  padding-bottom: $default-padding;
}

.infomedia-page-container {
  @extend .infomedia-container;

  margin: 0 auto;
  padding: 0 $default-padding;
  max-width: 960px;
  background-color: white;

  .layout-mgr {
    @include reset;
    @include clearfix;
  }

}

@media (min-width: 990px) {

  body {
    padding: 25px 0;
    background-color: grayscale(lighten($brand-primary, 70%));
  }

  .infomedia-page-container {
    padding: 10px 30px;
    max-width: 992px;
    box-shadow: 2px 2px 2px darken(grayscale(lighten($brand-primary, 70%)), 10%);
  }

}

.text-container {
  @include reset;
  @include clearfix;

  max-width: 605px;
  margin: 0 auto;
  padding-bottom: 3.5em;

  @media (max-width: 929px) {
    padding-bottom: 2.5em;
  }
}
