.home-page {

  padding-top: 10px;
  padding-bottom: 40px;

  h1 {
    font-size: 48px;
    margin: 25px 0 50px 0 !important;

    @media (min-width: 600px) {
      font-size: 56px;
    }

    @media (min-width: 930px) {
      margin: 25px 0 65px 0 !important;
    }
  }

  h2 {
    margin-bottom: 8px;

    .logo-magazine {
      height: auto;
      max-width: 240px;
      width: 100%;
    }

    a {
      position: relative;
      display: block;
      color: inherit;
      border: 0;
      text-decoration: none;
    }
  }

  blockquote {
    @include reset;

    display: block;
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 400;
    margin: -6px 0 15px 0;
    border-top: 1px solid $border-color;
    padding: 4px 0;
    color: darken($dark-grey, 10%);
  }

  .btn-vai {
    margin-top: -1em;
    text-align: right;

    a {
      color: $brand-primary;
      text-decoration: none;
      font-family: $font-sans;
      font-weight: 700;

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }

  article {
    margin-bottom: 30px;
  }

}

