html {
  font-family: $font-serif;
  font-size: 10px;
  font-weight: 300;
}

body {
  font-size: 16px;
  line-height: 1;
}

p {
  line-height: 1.7;
  margin-bottom: 1em;
}

h1 {
  color: $brand-primary;
}

h1, h2 {
  font-family: $font-sans;
}
